#__next {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #000000;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
img {
  border: 0;
  outline: 0;
  max-width: 100%;
}
a {
  color: #000000;
  text-decoration: none !important;
  outline: 0;
  cursor: pointer;
  display: contents;
}
a:hover {
  color: #8a5817;
}
ol,
ul {
  list-style: none;
  padding-left: unset;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.header {
  position: relative;
  z-index: 9;
}
header.header {
  position: fixed;
  display: block;
  width: -webkit-fill-available;
  background: #000000;
  z-index: 10;
  width: 100%;
}
header.header.sticky {
  -webkit-box-shadow: 0 8px 24px 0 rgb(23 50 101 / 30%);
  -moz-box-shadow: 0 8px 24px 0 rgba(23, 50, 101, 0.3);
  box-shadow: 0 8px 24px 0 rgb(23 50 101 / 30%);
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container {
  margin: 0 auto;
  position: relative;
  max-width: 1200px !important;
}
.header-inner {
  display: flex;
  align-items: center;
  padding: 0;
}
.nav-toggle-btn {
  display: none;
  padding: 8px 8px 8px 0;
  margin-right: 4px;
}
.nav-toggle-btn img {
  display: block;
}
.site-logo {
  margin: 3px 70px 0 0;
  margin-right: 54px;
}
.site-logo a {
  display: block;
  padding: 3px 0 3px 0;
  float: left;
  margin-right: 0;
}
.site-logo img {
  display: block;
}
.main-nav > ul {
  display: flex;
}
.main-nav > ul > li {
  margin-right: 0;
}
.main-nav > ul > li > a {
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 600;
  padding: 16px;
  display: block;
  border-bottom: 3px solid transparent;
}
.main-nav > ul > li > a:hover {
  color: #8a5817;
}
.main-nav > ul > li.dropdown-link > a {
  padding-right: 32px;
}
.dropdown-link > a:after {
  content: "";
  position: absolute;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  padding: 2px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 8px;
  margin-left: 9px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.dropdown-link:hover > a:after {
  border: solid #8a5817;
  border-width: 0 2px 2px 0;
  margin-top: 10px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.mega-dropdown-menu {
  position: fixed;
  top: 70px;
  width: 100%;
  left: 0;
  right: 0;
  background: #fff;
  padding: 40px 0 0;
  min-height: 140px;
  z-index: 10;
  border-top: 1px solid #e6ebef;
  box-shadow: 0 24px 32px rgb(5 47 95 / 10%);
  display: none;
}
.mobile {
  display: none !important;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.mega-dropdown-menu .menu-title {
  font-weight: 700;
  color: #8a5817;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.mega-dropdown-menu ul {
  margin-bottom: 40px;
}
.mega-dropdown-menu li a {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  display: inline-block;
  padding: 0 0 2px;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
  margin-bottom: 6px;
  position: relative;
}
.mega-dropdown-menu .badge {
  font-size: 10px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.3px;
  padding: 2px 6px;
  display: inline-block;
  border-radius: 4px;
  margin-left: 6px;
  text-transform: uppercase;
}
.mega-dropdown-menu .badge-green {
  background-color: #66bb6a;
}
.mega-dropdown-menu li a:hover {
  color: #8a5817;
}
.mega-dropdown-menu li a:after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  background: #8a5817;
  left: 0;
  bottom: 0;
  transition: all 0.3s ease;
  opacity: 0;
}
.mega-dropdown-menu li a:hover:after {
  width: 100%;
  opacity: 1;
}
main.main {
  margin-top: 100px;
  height: 100%;
}
.footer {
  color: #fff;
  background-color: #030001;
}
.footer-links,
.contact-links {
  padding: 26px 15px 12px;
}
.footer-links p {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.footer-links ul {
  margin-bottom: 16px;
}
.footer-links a {
  font-size: 13px;
  color: #a8a29b;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 12px;
  cursor: pointer;
}
.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 128.2px;
  margin-bottom: 10px;
}
.list-detail-left {
  padding: 8px;
  border-radius: 100%;
  background: #9f9fa6;
  line-height: 0;
  margin-right: 6px;
}
.list-detail-right {
  display: flex;
  align-items: center;
}
.list-detail-right h6 {
  font-size: 12px;
  line-height: 1.6;
  font-weight: 500;
}
.copyright-info {
  font-weight: 600;
  padding: 24px 0;
  font-size: 12px;
  color: #a8a29b;
}
.pb-social-links {
  display: flex;
  justify-content: flex-end;
}
.pb-social-links a {
  margin-left: 20px;
  font-size: 12px;
  color: #9f9fa6;
  display: inline-block;
}
.homebanner {
  background: linear-gradient(180deg, #fff 0, #f9fbff 100%);
  display: block;
  width: 100%;
  height: 353px;
  border-bottom: 3px solid #e8eef8;
  margin-bottom: 0px;
}
.carousel {
  overflow: hidden;
}
.homebanner .carousel-inner,
.homebanner .carousel-item {
  height: 353px;
}
.carousel-control-next,
.carousel-control-prev {
  display: none !important;
}
.carousel-inner {
  max-width: 100%;
  width: 1140px !important;
  margin-left: auto;
  margin-right: auto;
  overflow: unset !important;
}
.carousel-item.active {
  display: flex !important;
}
.itemImg {
  width: 43%;
}
.carousel-caption {
  width: 47%;
}
.carousel-caption {
  color: #282c34 !important;
  position: relative !important;
  right: unset !important;
  bottom: unset !important;
  left: unset !important;
}
/* .carousel-indicators{
  width: 50px;
  border-radius: 15px;
  left: 33.5% !important;
  bottom: -48px !important;
  background-color: rgb(5 47 95 / 10%) !important;
} */
.carousel-indicators [data-bs-target] {
  /* width: 8px !important;
  height: 8px !important;
  border-top: 6px solid transparent !important;
  border-bottom: 6px solid transparent !important;
  border-radius: 100%; */
  background-color: rgba(27, 29, 199, 0.5) !important;
}
.carousel-indicators [data-bs-target].active {
  background-color: #8a5817 !important;
}
.bnr-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding-left: 58px;
  text-align: left;
}
/* .itemImg img {
  height: 326px;
} */
.display-d.mt52 {
  font-size: 25px;
  color: #8c5920;
  display: block;
  line-height: 45px;
}
.bnr-content ul li:before {
  content: "";
  width: 24px;
  height: 1px;
  background-color: #8c5920;
  display: block;
  margin-right: 8px;
  margin-top: 12px;
}
.sub-ul-w li {
  display: flex;
  font-size: 16px;
  color: rgb(51 51 51 / 80%);
  font-weight: 600;
  margin-top: 12px;
}
.bnr-content p {
  font-size: 16px;
  color: rgb(81 81 82);
  font-weight: 600;
  margin-top: 12px;
}

.bnr-content .apply-now {
  width: 208px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #8e5a27 0, #d0a85e 100%);
  background: -webkit-linear-gradient(90deg, #8e5a27 0, #d0a85e 100%);
  background: -moz-linear-gradient(90deg, #8e5a27 0, #d0a85e 100%);
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  margin-top: 24px;
  cursor: pointer;
  position: relative;
}
.creditreport {
  width: 250px !important;
}
.products-section {
  padding: 40px 0 50px 0;
  clear: both;
  background-color: #f6f5e4;
}
.mb16 {
  margin-bottom: 16px;
}
.section-title h3 {
  color: #8c5920;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 128px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.section-title h3:after {
  content: "";
  width: 120px;
  height: 1px;
  position: absolute;
  background: #8c5920;
  border-radius: 4px;
  top: 10px;
  right: 0;
}
.pb-product {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 160px;
  padding: 16px 14px 0;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid rgba(235, 239, 247, 0.8);
  box-shadow: 0 2px 4px 0 rgb(5 47 95 / 4%), 0 12px 16px 0 rgb(52 105 203 / 12%);
  margin-bottom: 32px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}
.pb-product .product-name {
  font-size: 14px;
  color: #532e05;
  font-weight: 700;
  margin-bottom: 8px;
  text-transform: uppercase;
  transition: all 0.3s;
  width: 65%;
}
.pb-product .product-desc {
  font-size: 12px;
  font-weight: 600;
  color: #6f6f6f;
  margin-bottom: 12px;
  width: 81%;
}
.bestTag {
  position: absolute;
  bottom: 15px;
  font-size: 12px;
  color: #8c5920;
  font-weight: 600;
}
.bestTag span {
  transition: 0.2s;
  margin: 0;
}
.bestTag:hover span {
  margin: 0 0 0 5px;
  transition: 0.3s;
}
.pb-product .product-icon {
  text-align: right;
  height: 60px;
  margin-top: auto;
  transition: all 0.3s;
  position: absolute;
  right: 5px;
  top: 14px;
}
.bestTag span img {
  margin: 0 0 -1px 3px;
}
.cmn_partner {
  height: 64px;
  width: 137px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgb(52 105 203 / 12%);
  position: relative;
  display: inline-block;
  margin: 15px 15px 15px;
}
.our-partners-section {
  background-color: #f6f5e4;
  padding-bottom: 60px;
  padding: 50px 0;
}
.pb-feature h3 {
  font-size: 24px;
  font-weight: 700;
  color: #8c5920;
  max-width: 100%;
  margin-bottom: 16px;
}
.pb-feature .top-line,
.top-line {
  height: 2px;
  width: 40px;
  background-color: #8c5920;
  display: block;
  margin-bottom: 16px;
}
.cmn_partner:after {
  content: "";
  background: url(/img/partners-sprite-lite.png) no-repeat border-box;
  background-size: calc(100% - 0px);
  display: block;
  z-index: 1;
  position: absolute;
  height: 32px;
  width: 90px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
.cmn_partner.yes_bank:after {
  background-position: 0 -1726px;
}
.cmn_partner.tata_capital:after {
  background-position: 0 -1508px;
}
.cmn_partner.standard_chartered:after {
  background-position: 0 -1436px;
}
.cmn_partner.paysense:after {
  background-position: 0 -1256px;
}
.cmn_partner.kotak:after {
  background-position: 0 -970px;
}
.cmn_partner.indusind_bank:after {
  background-position: 0 -930px;
}
.cmn_partner.idfc:after {
  background-position: 0 -826px;
}
.cmn_partner.icici:after {
  background-position: 0 -794px;
}
.cmn_partner.hdfc:after {
  background-position: 0 -644px;
}
.cmn_partner.fullerton_india:after {
  background-position: 0 -574px;
}
.cmn_partner.bajaj_finserv:after {
  background-position: 0 -104px;
}
.cmn_partner.axis_bank:after {
  background-position: 0 -68px;
}
.cmn_partner.aditya_birla:after {
  background-position: 0 2px;
}
.cmn_partner.axis_finance:after {
  background: url(/img/Axis-Finance.png) no-repeat border-box;
  background-size: calc(100% - 0px);
}
.cmn_partner.hero_housing_finance:after {
  background: url(/img/HERO-FINCORP-LIMITED.png) no-repeat border-box;
  background-size: calc(100% - 0px);
}
.cmn_partner.finable:after {
  background: url(/img/Finnable-logo.webp) no-repeat border-box;
  background-size: calc(100% - 0px);
}
section.pb-feature-section {
  background-color: #ffffff;
  padding-top: 85px;
  padding-bottom: 50px;
}
.pb-feature-section .pb-feature {
  margin-bottom: 30px;
}
.pb-feature img {
  margin-bottom: 16px;
}
.col-sm-6 .pb-feature h3 {
  font-size: 18px;
  font-weight: 600;
  color: #532e05;
}
.about-us-block h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}
.about-us-block p {
  font-size: 16px;
  line-height: 1.8;
  color: #525252;
  max-width: 361px;
  margin: 0 auto;
}
.know-more-btn {
  color: #ffffff !important;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 34px 15px 24px;
  line-height: 1.8;
  text-align: left;
  background: linear-gradient(90deg, #8e5a27 0, #d0a85e 100%);
  background: -moz-linear-gradient(90deg, #8e5a27 0, #d0a85e 100%);
  box-shadow: 0 2px 4px 0 rgb(5 47 95 / 4%), 0 12px 16px 0 rgb(52 105 203 / 12%);
  border-radius: 30px;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
  min-width: 160px;
  margin-top: 20px;
}
.know-more-btn:after {
  content: "";
  position: absolute;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  top: 26px;
  right: 22px;
}
.about-us-block {
  text-align: center;
  border-radius: 8px;
  position: relative;
}
.about-top-section h1 {
  color: #8c5920;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 12px;
  max-width: 600px;
}
.about-top-section p {
  color: #6a6158;
  font-size: 18px;
  line-height: 30px;
}
.about-top-section {
  padding: 0px 0 48px;
}
.about-top-content {
  padding-top: 30px;
}
.legal-page-container {
  border-top: 1px solid #e6ebef;
  margin-bottom: 60px;
}
.legal-page-links-section {
  margin: 25px 0 0 0;
}
.legal-page-links {
  margin: 0;
}
.legal-content-section ul,
.legal-page-container ul {
  list-style: disc;
  padding-left: 20px;
  list-style-position: inside;
}
.legal-page-links li {
  border-bottom: 1px solid #e6ebef;
  margin-bottom: 20px;
}
.legal-page-container ul li {
  color: #69829f;
  line-height: 1.8;
  padding: 0;
  list-style-position: initial;
}
ul.legal-page-links li {
  list-style-type: none;
}
.legal-page-links a {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  padding: 0 28px 20px 0;
  position: relative;
}
.legal-page-links a:after {
  content: "";
  position: absolute;
  border: solid #444546;
  border-width: 0 1px 1px 0;
  display: block;
  padding: 2px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  top: 8px;
  right: 4px;
  width: 6px;
  height: 6px;
}
.legal-content-section {
  margin-bottom: 40px;
  margin-top: 10px;
}
.main-title {
  position: relative;
}
.main-title h2 {
  font-size: 24px;
  color: #8e5a27;
  margin-bottom: 16px;
  font-weight: 700;
}
.privacy-policy-content .top-line {
  margin-bottom: 8px;
}
.legal-content-section p,
.legal-page-container p {
  color: #69829f;
  line-height: 1.8;
  margin-bottom: 24px;
}
.expandable-box {
  margin-bottom: 24px;
  transition: all 0.3s;
}
.accordion-header button {
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(5, 47, 95, 0.2) !important;
  color: #212529 !important;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 0 !important;
  background-color: unset !important;
  padding-left: 0;
  padding-right: 0;
}
.accordion-header button:focus {
  box-shadow: unset;
}
.accordion-item {
  border: unset !important;
  background: unset !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon) !important;
}
.accordion-body {
  padding-left: 0;
  padding-right: 0;
}
.expandable-content h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}
ol.decimal-list {
  list-style: decimal;
}
.legal-content-section ol li,
.legal-content-section ul li,
.legal-page-container ol li {
  color: #69829f;
  line-height: 1.8;
  padding: 0;
}
::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}
.legal-content-section ol,
.legal-page-container ol {
  list-style: lower-alpha;
  padding-left: 20px;
}
.mb24 {
  margin-bottom: 24px;
}
.terms-policy-links {
  background-color: #1c1d2e;
  padding: 8px 0;
}
.pb-legal-links {
  font-weight: 400;
}
.terms-policy-links a {
  font-size: 13px;
  color: #a8a29b;
  display: inline-block;
  line-height: 0;
}
.pb-legal-links a {
  margin-right: 20px;
}
.copyright-info p {
  margin-bottom: 10px;
  text-align: center;
}
.about-top-section .row {
  align-items: center;
}
.mapouter {
  position: relative;
  text-align: right;
  height: 600px;
  width: 100%;
}
.gmap_canvas {
  overflow: hidden;
  background: 0 0 !important;
  height: 600px;
  width: 100%;
}
.cont_form {
  background: url(/img/contactus.jpg) no-repeat border-box;
  background-size: 100% 100%;
}
.cont_form .about-top-content {
  width: 399px;
  text-align: center;
}
.fileuploder-container {
  position: relative;
}
.fileuploder-inner {
  cursor: pointer;
  border: 2px dashed #8e5a27;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  padding: 15px 20px;
}
.fileuploder-inner input {
  height: 98px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}
.form-error-message {
  color: red;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
  display: block;
  height: 44px;
}
.img-pview {
  padding: 0.75rem;
  column-gap: 1.08rem;
  row-gap: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.img-pview-inner {
  display: flex;
  background: #fcecbd;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.img-pview-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.imgs {
  height: 3rem;
  width: 3rem;
  display: inline-block;
}
.imgs img {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
}
.img-name {
  display: inline-block;
  width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.img-remove {
  background-color: #fe7371;
  padding: 0px 6px;
  border-radius: 0.25rem;
  cursor: pointer;
}
.enquery-btn {
  margin-left: auto;
}
.enquery-btn button {
  background: #8e5a27;
  border-color: #8e5a27;
  padding: 10px 15px;
  border-radius: 0;
}
.read-more-btn {
  font-size: 12px;
  font-weight: 700;
  color: #8e5a27;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 24px;
  background-color: #e6eaef;
  border-radius: 4px;
  display: inline-block;
  transition: all 0.4s;
}
.pb-feature .read-more-btn {
  margin-top: 16px;
}
.pb-feature-section2 {
  padding-top: 30px !important;
}
.pb-feature h4 {
  font-size: 20px;
  font-weight: 700;
  color: #8c5920;
  max-width: 100%;
  margin-bottom: 16px;
}
.pb-feature-img img {
  margin-bottom: 0;
}
.pb-feature-section2 .col-md-5 .pb-feature {
  margin-bottom: 0px;
}
.about-top-content button {
  width: 150px;
  height: 54px;
  background: linear-gradient(90deg, #8e5a27 0, #d0a85e 100%);
  background: -moz-linear-gradient(90deg, #8e5a27 0, #d0a85e 100%);
  border-color: unset !important;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  margin-top: 24px;
  cursor: pointer;
  position: relative;
}
.about-top-section .cont_form h1 {
  margin-bottom: 30px;
}
.about-pb-box-section {
  padding: 40px 40px 80px;
}
.about-pb-box {
  padding: 40px;
  height: 100%;
  min-height: 335px;
  border-radius: 16px;
  background-color: #fdf4cc;
  box-shadow: 0 2px 4px 0 rgb(5 47 95 / 4%), 0 12px 16px 0 rgb(52 105 203 / 12%);
  position: relative;
  top: 0;
  transition: all 0.3s;
}
.box-hover:hover .about-pb-box {
  top: -24px;
}
.about-pb-box-icon {
  width: 44px;
  height: 44px;
  margin-bottom: 32px;
}
.about-pb-box h3 {
  font-size: 18px;
  line-height: 1.7;
  color: #52300e;
  word-break: break-word;
  margin-bottom: 15px;
}
.about-pb-box h3 a {
  color: #52300e;
}
.about-pb-box p {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.8;
  color: #8e5a27;
}
.headline {
  font-size: 24px;
  color: #444;
  font-weight: 600;
  display: inline-block;
  letter-spacing: 0;
  line-height: 1.4;
  margin: 0.3rem 1.5rem 0.3rem 0;
  padding: 0.3rem 0;
}
.beforeLeadFormStrip {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 22px;
  letter-spacing: 0.6px;
  font-weight: 400;
  color: #666;
}
#leadFormStarts {
  padding-top: 0;
  padding-bottom: 5px;
}
.pl-short-lead-form {
  padding: 24px 24px 16px;
  overflow: hidden;
  margin-top: 24px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid rgba(5, 47, 95, 0.15);
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
  -moz-box-shadow: 0 6px 16px 0 rgba(35, 58, 99, 0.15);
  -webkit-box-shadow: 0 6px 16px 0 rgb(35 58 99 / 15%);
  box-shadow: 0 6px 16px 0 rgb(35 58 99 / 15%);
}
.pl-short-lead-form:before {
  content: "";
  width: 8px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(270deg, #8e5a27 0, #d0a85e 100%);
  background: -moz-linear-gradient(270deg, #8e5a27 0, #d0a85e 100%);
  background: -webkit-linear-gradient(270deg, #8e5a27 0, #d0a85e 100%);
}
.pl-short-lead-form > img {
  width: 143px;
  height: auto;
  margin: 0 40px 0 10px;
}
.pl-short-lead-form > div {
  flex: 1;
  width: auto;
}
.pl-short-lead-form > div .heading-text {
  font-size: 22px;
  color: #8c5920;
  font-weight: 700;
}
span:nth-child(1) {
  animation-delay: 0s;
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
.pl-short-lead-form > div .heading-text span {
  color: #532e05;
}

span:nth-child(2) {
  animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}
.pl-short-lead-form > div .heading-text::after {
  background-color: #532e05;
  content: "";
  width: 40px;
  height: 2px;
  display: block;
  margin: 8px 0 40px;
}
.pl-short-lead-form .material-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}
.pl-short-lead-form .material-form .form-fields {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.pl-short-lead-form .material-form .form-action {
  width: 196px;
}
.pl-short-lead-form .material-form .form-fields > div:first-child {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 90%;
  justify-content: space-between;
}
.pl-short-lead-form .material-form .form-fields .checkbox {
  margin: 0;
}
.material-form .form-group,
.material-form .form-radio {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}
.pl-short-lead-form .material-form .form-group {
  max-width: 280px;
  width: 100%;
}
.pl-short-lead-form .material-form .form-group,
.pl-short-lead-form .material-form .form-radio {
  margin-top: 0;
}
.pl-short-lead-form .material-form .form-radio {
  width: 240px;
}
.material-form .form-group input {
  height: 1.9rem;
}
.material-form .form-group input,
.material-form .form-group textarea {
  display: block;
  background: 0 0;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: rgb(42 37 32);
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
  border-radius: 0.3rem;
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
  outline: 0;
}
.material-form .form-group input::placeholder {
  font-size: 12px;
}
input[type="checkbox"],
input[type="radio"],
label {
  cursor: pointer;
}
.material-form .form-group .control-label {
  position: absolute;
  top: -20px;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #8e5a27;
  font-size: 1rem;
  font-weight: 400;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}
.material-form .form-group .bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block;
}
.material-form .form-group .bar::before {
  content: "";
  height: 1px;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #8e5a27;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}
.material-form .form-group .char-count {
  position: absolute;
  right: 0;
  top: 10px;
  color: rgba(95, 122, 153, 0.6);
  font-size: 10px;
  font-weight: 600;
}
.material-form .form-group .char-count {
  position: absolute;
  right: 0;
  top: 10px;
  color: rgba(95, 122, 153, 0.6);
  font-size: 10px;
  font-weight: 600;
}
.pl-short-lead-form .material-form .form-group .char-count {
  font-size: 10px;
  top: 4px;
  color: rgba(5, 47, 95, 0.4);
  line-height: 25px;
}
.material-form .form-help {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: #b3b3b3;
  font-size: 0.8rem;
}
.material-form .checkbox .form-help,
.material-form .form-group .form-help,
.material-form .form-radio .form-help {
  position: absolute;
  width: 100%;
}
address:last-child,
blockquote:last-child,
fieldset:last-child,
ol:last-child,
p:last-child,
pre:last-child,
table:last-child,
ul:last-child {
  margin-bottom: 0;
}
.material-form .form-help p {
  font-size: 0.8rem;
  line-height: initial;
}
.material-form .form-help .error-holder,
.material-form .has-error .note-holder,
.material-form .has-error.has-success .form-help .error-holder {
  display: none;
}
.pl-short-lead-form .material-form .form-radio.has-value > label {
  padding-left: 0;
  position: absolute;
  top: -20px;
  font-size: 0.8rem;
  color: rgba(95, 122, 153, 0.6);
}
.pl-short-lead-form .material-form .form-radio.has-value > div {
  display: flex;
  align-items: center;
}
.pl-short-lead-form .material-form .form-radio.has-value > div .radio {
  margin: 4px 0 0;
}
.pl-short-lead-form .material-form .form-radio.has-value > div .radio.first {
  margin-right: 32px;
}
.material-form .checkbox label,
.material-form .form-radio label {
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  text-align: left;
  color: #8e5a27;
  display: block;
  font-size: 14px;
}
.pl-short-lead-form .material-form .form-fields .checkbox label {
  padding-left: 22px;
}
input[type="checkbox"],
input[type="radio"] {
  box-shadow: none !important;
  margin-right: 0.3rem;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}
.material-form .checkbox input,
.material-form .form-radio input {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
}
.pl-short-lead-form .material-form .form-fields .checkbox .tnc__text {
  font-size: 12px;
  color: #8e5a27;
  font-weight: 400;
  display: block;
}
.material-form .checkbox i.helper {
  color: #999;
  position: absolute;
  top: 2px;
  left: 0;
  width: 1rem;
  height: 1rem;
  z-index: 0;
  border: 1px solid #999;
  border-radius: 0.0625rem;
  -webkit-transition: border-color 0.28s ease;
  transition: border-color 0.28s ease;
}
.material-form .checkbox input:checked ~ i.helper {
  color: #8e5a27;
}
.pl-short-lead-form .material-form .form-fields .checkbox input ~ i.helper {
  background: url(/img/checkbox-border.svg) no-repeat 0 0;
  width: 18px;
  height: 18px;
  border: 0;
}
.pl-short-lead-form
  .material-form
  .form-fields
  .checkbox
  input:checked
  ~ i.helper {
  background: url(/img/checkbox-checked.svg) no-repeat 0 0;
}
.pl-short-lead-form .material-form .form-action .submit-btn {
  font-size: 14px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  background: linear-gradient(90deg, #8e5a27 0, #d0a85e 100%);
  background: -moz-linear-gradient(90deg, #8e5a27 0, #d0a85e 100%);
  border: 0;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  font-weight: 600;
}
.material-form .radio input:checked ~ span {
  font-weight: 600;
}
.material-form .radio i.helper::after,
.material-form .radio i.helper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.25rem;
  width: 1rem;
  height: 1rem;
  -webkit-transition: -webkit-transform 0.28s ease;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
  border-radius: 50%;
  border: 1px solid #999;
}
.material-form .radio input:checked ~ i.helper::before {
  color: rgba(5, 47, 95, 1);
}
.material-form .radio i.helper::after {
  -webkit-transform: scale(0);
  transform: scale(0);
  background-color: rgba(5, 47, 95, 1);
  border-color: rgba(5, 47, 95, 1);
}
.material-form .radio input:checked ~ i.helper::after {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
.main-bottom {
  display: flex;
  padding: 40px 0;
}
.l-content {
  width: 70%;
}
.l-sidebar {
  width: 25%;
}
aside.l-sidebar {
  padding: 0.4rem 0;
}
.vc_column-inner {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.vc_column-inner,
.wpb_wrapper {
  min-height: 1px;
  color: #666;
}
address,
blockquote,
dl,
fieldset,
ol,
p,
pre,
table,
ul {
  margin: 0 0 1.5rem;
}
.l-section table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.l-section table tr td {
  border: 1px solid #666;
  padding: 5px;
  color: #666;
}
.l-content .wpb_wrapper table tr td {
  padding: 10px;
}
.table-content {
  padding: 20px;
  margin: 0px 0;
  border: 0.5px solid #000;
  background: #f5f5f5;
  text-align: justify;
}
.l-content p {
  font-size: 14.7px;
  line-height: 22px;
}
.table-content p {
  text-align: justify;
}
address:last-child,
blockquote:last-child,
fieldset:last-child,
ol:last-child,
p:last-child,
pre:last-child,
table:last-child,
ul:last-child {
  margin-bottom: 0;
}
.table-content ul {
  list-style-type: disc;
  margin-left: 2.5rem;
}
.l-content ol li,
.l-content ul li {
  margin: 0 0 0.5rem;
}
.main-bottom a {
  color: #1b98e0;
}
.l-content h2 {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.4;
  margin: 0 0 1.5rem;
  padding-top: 1rem;
  color: #555;
}
.l-content h3 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #555;
  line-height: 1.4;
  margin: 0 0 1.5rem;
  padding-top: 1rem;
}
.vc_empty_space {
  height: 25px;
}
.bureauBannerShortCode {
  background-color: #062a64;
  display: flex;
  align-items: center;
  padding: 6px 16px;
}
.bureauBannerShortCode img {
  height: 58px;
  display: block;
}
.bureauBannerShortCode p {
  font-size: 16px;
  color: #fff;
  margin: 0 !important;
  display: flex;
  align-items: center;
  flex: 1;
}
.bureauBannerShortCode p strong {
  font-weight: 700;
  color: #fff;
  margin: 0 3px;
}
.bureauBannerShortCode p a {
  background-color: #f90;
  color: #fff;
  padding: 6px 12px;
  margin-left: auto;
  display: inline-block;
  text-align: center;
  width: 120px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.emi-calculator-shortcode {
  border: 1px solid rgba(5, 47, 95, 0.2);
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  clear: both;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
.emi-calculator-shortcode > div {
  width: 50%;
  padding: 24px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.emi-calculator-shortcode > div.calc-box {
  padding-bottom: 0;
}
.l-content .wpb_wrapper > ul li {
  position: relative;
  padding-left: 22px;
  font-size: 14.7px;
  line-height: 22px;
}
.l-content .wpb_wrapper > ul {
  list-style: none;
  margin-left: 0;
}
.l-content .wpb_wrapper > ul li:before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #666;
  display: block;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: absolute;
  top: 8px;
  left: 0;
}
.widgettitle {
  background-color: #8e5a27;
  color: white !important;
  font-size: unset;
  font-weight: 600;
  text-align: center;
  padding: 10px 0px 10px 0px;
  letter-spacing: 0px;
  margin-bottom: 10px;
  line-height: 1.4;
  margin: 0 0 1.5rem;
}
.l-sidebar div:nth-child(1) .textwidget {
  height: 350px;
  overflow: hidden;
  overflow-x: hidden;
}
.l-sidebar div:nth-child(2) .textwidget {
  height: 390px;
  overflow: scroll;
  overflow-x: hidden;
}
.l-sidebar div:last-child .textwidget {
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}
.l-sidebar ul {
  list-style-type: disc;
  margin-left: 2.5rem;
}
.l-sidebar ul li {
  border-bottom: 1px solid #ddd;
  padding: 0.7rem;
  margin-bottom: 0;
}
.emi-calculator-shortcode > div.res-box {
  background: rgba(27, 29, 199, 0.04);
}
.emi-calculator-shortcode > div .emi-heading {
  font-size: 18px;
  line-height: 24px;
  color: #8c5920;
  font-weight: 600;
}
.emi-calculator-shortcode > div .emi-heading::after {
  height: 2px;
  width: 62px;
  background-color: #532e05;
  content: "";
  display: block;
  margin-bottom: 16px;
}
.emi-calculator-shortcode > div.calc-box .row {
  margin-bottom: 16px !important;
  margin: 0;
}
.emi-calculator-shortcode > div.calc-box .input-box div {
  position: relative;
}
.emi-calculator-shortcode > div.calc-box .input-box {
  padding: 0;
}
.emi-calculator-shortcode > div.calc-box .row.half {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.emi-calculator-shortcode > div.calc-box .calc-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #8c5920;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  width: 100%;
  height: 48px;
  cursor: pointer;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  margin-bottom: 16px;
  border-color: transparent;
}
.emi-calculator-shortcode > div.calc-box .input-box label {
  font-size: 12px;
  font-weight: 400;
  color: rgba(5, 47, 95, 0.7);
}
.emi-calculator-shortcode > div.calc-box .input-box div span {
  position: absolute;
  right: 5px;
  top: 8px;
  height: 29px;
  color: rgba(5, 47, 95, 0.8);
  font-weight: 600;
  font-size: 12px;
  border-left: 1px solid rgba(205, 213, 223, 1);
  padding-left: 16px;
}
.emi-calculator-shortcode > div.calc-box .input-box.left-align div span {
  left: 0;
  right: inherit;
  border-right: 1px solid rgba(205, 213, 223, 1);
  border-left: 0;
  padding-left: 0;
  padding-right: 16px;
}
.emi-calculator-shortcode > div.calc-box .input-box div input {
  background: transparent;
  border-bottom: 1px solid rgba(5, 47, 95, 0.2) !important;
  box-shadow: none;
  border-radius: 0;
  outline: 0;
  color: rgba(5, 47, 95, 1);
  font-weight: 600;
  font-size: 14px;
  padding-left: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: none;
  line-height: 2.8rem;
  height: 2.8rem;
  width: 100%;
}
.emi-calculator-shortcode > div.calc-box .input-box.left-align div input {
  padding-left: 40px;
}
.emi-calculator-shortcode > div.calc-box .row.half > div {
  width: 160px;
}
.emi-calculator-shortcode > div.res-box > div {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 41px;
  border-radius: 12px 0 0 12px;
  -moz-border-radius: 12px 0 0 12px;
  -webkit-border-radius: 12px 0 0 12px;
}
.emi-calculator-shortcode > div.res-box > div p {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 14.7px;
  color: rgba(5, 47, 95, 1);
  margin-bottom: 23px;
}
.emi-calculator-shortcode > div.res-box > div p b {
  font-size: 22px;
  margin: 4px 0;
  display: block;
}
.emi-calculator-shortcode > div.res-box > div p:first-child b,
.emi-calculator-shortcode > div.res-box > div p:nth-child(2) b {
  color: rgba(27, 29, 199, 1);
}
.emi-calculator-shortcode > div.res-box > div p span {
  font-size: 12px;
}
.team .about-pb-box {
  padding: 0;
  box-shadow: unset;
  background: #ffffff;
}
.team .box-hover:hover .about-pb-box {
  top: 0px;
}
.team .about-pb-box-icon {
  width: 370px;
  height: 350px;
  margin-bottom: 15px;
}
.team .about-pb-box h3 {
  margin-bottom: 0;
}
.team .about-pb-box p {
  margin-bottom: 40px;
}
